* {
    padding: 0%;
    margin: 0%;
    font-size: 13px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input {
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 1px solid #ecedec;
    border-radius: 5px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

button {
    width: 120px;
    height: 38px;
    padding: 10px;
    color: #ffffff;
    background: #0000ff;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    background: #f2f2f2;
}


/* .log-in-submit-btn {
    background: #f2f2f2;
} */

.register-container,
.log-in-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: url('../session_2_images/register-background.jpg');
    background-size: cover;
}

.form-register,
.form-log-in {
    max-width: 500px;
    background: #ffffff;
}

.form-header h3 {
    padding: 70px 50px;
    font-size: 38px;
    color: #788194;
    text-align: center;
}

.form-content {
    padding: 0px 50px;
}

.form-content>* {
    margin-bottom: 10px;
}

.name-wrapper {
    display: flex;
    justify-content: space-between;
}

.name-wrapper>* {
    width: calc(50% - 5px);
}

.form-footer {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.messageError {
    color: #ff0000;
    line-height: 25px;
}

.message-success {
    color: #00ff00;
    line-height: 25px;
}